.btnPrincipal{
    border: 1px solid var(--laranjaPrincipal);
    background-color: var(--laranjaPrincipal);
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.2rem;
}

.btnPrincipal:hover{
    background-color: var(--marromPrincipal);
    border: 1px solid var(--marromPrincipal);
    transition: all .3s ease-in;
}